.cabecalhoPrincipal .cabecalhoPrincipal-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.indexPrincipal .indexPrincipal-container{
	display: flex;
	flex-direction: column;
}
.rodape .rodape-container{
	display: flex;
	align-items: center;
	height: 16em;
	justify-content: space-around;
}
.container-lista-item{
	display: block;
	padding: 0.5em 0;
}
.rodape-formulario{
	font-size: 1.2em;
}
.input-padrao {
	display: block;
	padding: 1em 3em;
	margin: 1em 0;
	width: 100%;
	border-radius: 1em;
}
.submeter{
	width: 100%;
	padding: 1em 0;
	background:  green;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.fim{
	text-align: center;
	padding: 2em 0;
}
