body{
	font-family: 'Monteserrat', sans-serif;
}
.primeiroPrincipal{
	background: #F2F4F4;
	padding: 5em 5em 5em 5em;	
}
.indexPrincipal-imagem{
	width: 100%;
}
form lable{
	font-size: 20px;
}
.input-padrao{
	padding: 10px 25px;
	width:  30%;
}
.primeiroPrincipal-botaoEntrar{
	width: 30%;
	line-height: 1;
	padding: 15px 0;
	background: steelblue;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
}
.submeter{
	width: 100%;
	padding: 15px 0;
	background: steelblue;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
}
footer{
	background: #EBF5FB ;
}
.rodape{
	padding: 5em 5em 5em 5em;
}
.rodape-nav-item{
	padding: 0 1em;
}
.rodape-menu-lista{
	padding: 10px;
}
.fim{
	align-items: center;
	text-align: center;
}
